{% extends "layout.html" %}

{% block head %}

<title>JP-Nunes</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap">
<link rel="stylesheet" href="/styles.css">

{% endblock%}

{% block content %}

<div id="wrapper">
    <img src="/images/portfolio-image.jfif" alt="JP-Nunes">
    <h1>João Pedro Nunes</h1>
    <h2>Desenvolvedor JavaScript</h2>
    <p>Programador focado em aprendizado e melhoria contínua, 
        aluno da <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
    </p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/JP-Nunes">GitHub</a>
    <a href="https://www.linkedin.com/in/jo%C3%A3o-p-nunes-java-e-javascriptdev/">LinkedIn</a>
</div>

{% endblock %}